workspace -a scan_workspace
workspace scan_workspace

use auxiliary/scanner/portscan/tcp
set RHOSTS __TARGET_IP__
set THREADS 10
run

services

db_export -f xml -o metasploit/results/msf_report.xml

exit
